#include <dt-bindings/clock/qcom,camcc-lito.h>

&cam_cci0 {
	eeprom_front: qcom,eeprom@1 {
		cell-index = <1>;
		reg = <0>;
		compatible = "qcom,eeprom";
		cam_vio-supply = <&L8C>;
		cam_clk-supply = <&titan_top_gdsc>;
		cam_bob-supply = <&BOB>;
		regulator-names = "cam_vio", "cam_clk", "cam_bob";
		rgltr-cntrl-support;
		rgltr-min-voltage = <1800000 0 3008000>;
		rgltr-max-voltage = <1800000 0 3960000>;
		rgltr-load-current = <80000 0 2000000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&kc_cam_sensor_mclk1_active
				 &kc_cam_sensor_active_front>;
		pinctrl-1 = <&kc_cam_sensor_mclk1_suspend
				 &kc_cam_sensor_suspend_front>;
		gpios = <&tlmm 14 GPIO_ACTIVE_HIGH>,
			<&tlmm 29 GPIO_ACTIVE_HIGH>,
			<&tlmm 66 GPIO_ACTIVE_HIGH>,
			<&tlmm 25 GPIO_ACTIVE_HIGH>;
		gpio-reset = <1>;
		gpio-custom1 = <2>;
		gpio-custom2 = <3>;
		gpio-req-tbl-num = <0 1 2 3>;
		gpio-req-tbl-flags = <1 0 0 0>;
		gpio-req-tbl-label = "CAMIF_MCLK1",
					"CAM_RESET1",
					"CAM_AVDD1",
					"CAM_DVDD1";
		sensor-position = <0>;
		sensor-mode = <0>;
		cci-master = <1>;
		status="ok";
		clocks = <&camcc CAM_CC_MCLK1_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "turbo";
		clock-rates = <24000000>;
	};

	qcom,cam-sensor@1 {
		cell-index = <1>;
		compatible = "qcom,cam-sensor";
		reg = <0x1>;
		csiphy-sd-index = <1>;
		sensor-position-roll = <270>;
		sensor-position-pitch = <0>;
		sensor-position-yaw = <0>;
		eeprom-src = <&eeprom_front>;
		cam_vio-supply = <&L8C>;
		cam_clk-supply = <&titan_top_gdsc>;
		cam_bob-supply = <&BOB>;
		regulator-names = "cam_vio", "cam_clk", "cam_bob";
		rgltr-cntrl-support;
		pwm-switch;
		rgltr-min-voltage = <1800000 0 3008000>;
		rgltr-max-voltage = <1800000 0 3960000>;
		rgltr-load-current = <80000 0 2000000>;
		gpio-no-mux = <0>;
		pinctrl-names = "cam_default", "cam_suspend";
		pinctrl-0 = <&kc_cam_sensor_mclk1_active
				&kc_cam_sensor_active_front>;
		pinctrl-1 = <&kc_cam_sensor_mclk1_suspend
				&kc_cam_sensor_suspend_front>;
		gpios = <&tlmm 14 GPIO_ACTIVE_HIGH>,
			<&tlmm 29 GPIO_ACTIVE_HIGH>,
			<&tlmm 66 GPIO_ACTIVE_HIGH>,
			<&tlmm 25 GPIO_ACTIVE_HIGH>;
		gpio-reset = <1>;
		gpio-custom1 = <2>;
		gpio-custom2 = <3>;
		gpio-req-tbl-num = <0 1 2 3>;
		gpio-req-tbl-flags = <1 0 0 0>;
		gpio-req-tbl-label = "CAMIF_MCLK1",
					"CAM_RESET1",
					"CAM_AVDD1",
					"CAM_DVDD1";
		sensor-mode = <0>;
		cci-master = <1>;
		status = "ok";
		clocks = <&camcc CAM_CC_MCLK1_CLK>;
		clock-names = "cam_clk";
		clock-cntl-level = "turbo";
		clock-rates = <24000000>;
	};
};


&tlmm {
	kc_cam_sensor_mclk1_active: kc_cam_sensor_mclk1_active {
		/* MCLK1 */
		mux {
			pins = "gpio14";
			function = "cam_mclk";
		};

		config {
			pins = "gpio14";
			bias-disable; /* No PULL */
			drive-strength = <6>; /* 6 mA */
		};
	};

	kc_cam_sensor_mclk1_suspend: kc_cam_sensor_mclk1_suspend {
		/* MCLK1 */
		mux {
			pins = "gpio14";
			function = "gpio";
		};

		config {
			pins = "gpio14";
			bias-disable; /* No PULL */
			drive-strength = <6>; /* 6 mA */
			output-low;
		};
	};

	kc_cam_sensor_active_front: kc_cam_sensor_active_front {
		/* RESET FRONT */
		mux {
			pins = "gpio29";
			function = "gpio";
		};

		config {
			pins = "gpio29";
			bias-disable; /* No PULL */
			drive-strength = <2>; /* 2 mA */
		};
	};

	kc_cam_sensor_suspend_front: kc_cam_sensor_suspend_front {
		/* RESET FRONT */
		mux {
			pins = "gpio29";
			function = "gpio";
		};

		config {
			pins = "gpio29";
			bias-disable; /* No PULL */
			drive-strength = <2>; /* 2 mA */
			output-low;
		};
	};
};

